<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigationGraphPaths</key>
	<array>
		<dict>
			<key>name</key>
			<string>EntrancePath</string>
			<key>forwardDirection</key>
			<true/>
			<key>isCyclical</key>
			<false/>
			<key>orientation</key>
			<string>horizontal</string>
		</dict>
	</array>
	<key>initialPlayerBotOrientation</key>
	<string>East</string>
	<key>furnitureLibrary</key>
	<array>
		<dict>
			<key>price</key>
			<integer>100</integer>
			<key>name</key>
			<string>table</string>
		</dict>
		<dict>
			<key>price</key>
			<integer>30</integer>
			<key>name</key>
			<string>till</string>
		</dict>
		<dict>
			<key>price</key>
			<integer>100</integer>
			<key>name</key>
			<string>coffeeMachine</string>
		</dict>
		<dict>
			<key>price</key>
			<integer>100</integer>
			<key>name</key>
			<string>chair</string>
		</dict>
		<dict>
			<key>price</key>
			<integer>100</integer>
			<key>name</key>
			<string>light</string>
		</dict>
		<dict>
			<key>price</key>
			<integer>100</integer>
			<key>name</key>
			<string>window</string>
		</dict>
		<dict>
			<key>price</key>
			<integer>100</integer>
			<key>name</key>
			<string>door</string>
		</dict>
		<dict>
			<key>price</key>
			<integer>100</integer>
			<key>name</key>
			<string>plant</string>
		</dict>
		<dict>
			<key>price</key>
			<integer>100</integer>
			<key>name</key>
			<string>carpet</string>
		</dict>
		<dict>
			<key>price</key>
			<integer>100</integer>
			<key>name</key>
			<string>standingCabinet</string>
		</dict>
		<dict>
			<key>price</key>
			<integer>100</integer>
			<key>name</key>
			<string>floorCabinet</string>
		</dict>
	</array>
	<key>startingBalance</key>
	<integer>10000</integer>
</dict>
</plist>
