<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sceneType</key>
		<string>ProgressScene</string>
		<key>fileName</key>
		<string>ProgressScene</string>
		<key>required</key>
		<true/>
	</dict>
	<dict>
		<key>sceneType</key>
		<string>IntroScene</string>
		<key>fileName</key>
		<string>IntroScene</string>
		<key>required</key>
		<true/>
	</dict>
	<dict>
		<key>sceneType</key>
		<string>MainMenuScene</string>
		<key>fileName</key>
		<string>MainMenuScene</string>
		<key>required</key>
		<true/>
	</dict>
	<dict>
		<key>sceneType</key>
		<string>OptionsScene</string>
		<key>fileName</key>
		<string>OptionScene</string>
		<key>required</key>
		<false/>
	</dict>
	<dict>
		<key>sceneType</key>
		<string>LoadGameScene</string>
		<key>fileName</key>
		<string>LoadGameScene</string>
		<key>required</key>
		<false/>
	</dict>
	<dict>
		<key>sceneType</key>
		<string>GameLevelScene</string>
		<key>fileName</key>
		<string>Test</string>
		<key>loadableTypes</key>
		<array>
			<string>TestLevelSound</string>
			<string>FurnitureSprite</string>
			<string>PlayerBot</string>
		</array>
		<key>required</key>
		<false/>
	</dict>
	<dict>
		<key>sceneType</key>
		<string>GameMenuScene</string>
		<key>fileName</key>
		<string>LevelSettingScene</string>
		<key>required</key>
		<false/>
	</dict>
	<dict>
		<key>sceneType</key>
		<string>PostGameScene</string>
		<key>fileName</key>
		<string>CreditsScene</string>
		<key>required</key>
		<false/>
	</dict>
</array>
</plist>
