<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>collectionArea</string>
		<key>imageName</key>
		<string></string>
		<key>interactionSides</key>
		<integer>1</integer>
		<key>size</key>
		<array>
			<integer>124</integer>
			<integer>124</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>till</string>
		<key>imageName</key>
		<string></string>
		<key>interactionSides</key>
		<integer>1</integer>
		<key>size</key>
		<array>
			<integer>124</integer>
			<integer>124</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>carpet</string>
		<key>imageName</key>
		<string></string>
		<key>size</key>
		<array>
			<integer>124</integer>
			<integer>120</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>plant</string>
		<key>imageName</key>
		<string></string>
		<key>size</key>
		<array>
			<integer>124</integer>
			<integer>124</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>door</string>
		<key>imageName</key>
		<string></string>
		<key>size</key>
		<array>
			<integer>124</integer>
			<integer>124</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>window</string>
		<key>imageName</key>
		<string></string>
		<key>interactionSides</key>
		<integer>1</integer>
		<key>size</key>
		<array>
			<integer>124</integer>
			<integer>124</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>light</string>
		<key>imageName</key>
		<string></string>
		<key>size</key>
		<array>
			<integer>124</integer>
			<integer>124</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>counter</string>
		<key>imageName</key>
		<string></string>
		<key>interactionSides</key>
		<integer>1</integer>
		<key>size</key>
		<array>
			<integer>124</integer>
			<integer>124</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>chair</string>
		<key>imageName</key>
		<string></string>
		<key>interactionSides</key>
		<integer>1</integer>
		<key>size</key>
		<array>
			<integer>124</integer>
			<integer>124</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>table</string>
		<key>imageName</key>
		<string>tableMenuItem</string>
		<key>interactionSides</key>
		<integer>4</integer>
		<key>size</key>
		<array>
			<integer>124</integer>
			<integer>124</integer>
		</array>
	</dict>
</array>
</plist>
